<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/Chart.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Receipt Reader", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                    @if (Session["access_token"] != null && Session["username"] != null)
                    {
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">@Session["username"]</a></li>
                                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            </ul>
                        </div>
                    }
            </div>
        </nav>

        <span style="display:block; height: 50px;"></span>

        <div class="container body-content">
            @RenderBody()
        </div>

        <div class="container modal-footer" >
            &copy; @DateTime.Now.Year - Receipt Reader
        </div>
    </body>
</html>
