@model Receipt.Web.Models.LostPasswordModel

<h3>Lost your password? Send reset token:</h3>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LoginInfo, htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.LoginInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}

<br />

<div>@Html.ActionLink("Go to login screen", "Login", "Account")</div>
